/* estiliza a tag a que se refere */
* {
    box-sizing: content-box;
    background-color: lightseagreen;
}

main {
    border: solid 2px black;
}

section {
    border: solid 2px black;
    padding: 1px;
    background-color: aqua;
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
/* (.) --> refere-se à classe, tornando a estilização da section mais específica */
.paragrafo {
    border: solid 2px black;
    padding: 1px;
    background-color: wheat;
}
/* (#) --> refere-se o id, ficando mais específico ainda */
#Exemplo {
    color: green;
    background-color: lightblue;
}