p {
background-color: #CCC;
}
a {
background-color: rgb(202, 184, 231);
border: dotted;
border-width: 5px;
border-radius: 10%;
border-color: red;
}
footer{
background-color: beige;
}
button {
background-color: greenyellow;
border-width: 0px;
}
button:hover{
    background: #000;
    color: greenyellow;
}
.professores {
    display: inline-block;
    width: auto;
    height: 150px;
}
.Contato {
    display: inline-block;
    width: auto;
    height: 150px;
}