@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
/* estiliza a tag a que se refere */
* {
    box-sizing: content-box;
    background-color: lightseagreen;
}

main {
    border: solid 2px black;
}

section {
    border: solid 2px black;
    padding: 1px;
    background-color: aqua;
}
p {
    color: red;
}
/* (.) --> refere-se à classe, tornando a estilização da section mais específica */
.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.paragrafo {
    border: solid 2px black;
    padding: 1px;
    background-color: wheat;
}
/* (#) --> refere-se o id, ficando mais específico ainda */
#Exemplo {
    color: green;
    background-color: lightblue;
    text-decoration: underline;
}